//-----------------------------------------------------------------------------
//	TABLETS AND UP
//-----------------------------------------------------------------------------

@media screen and (min-width: 40em) {

	// Conditional Content Loading with JavaScript (http://adactio.com/journal/5429/)
	body:after {
		content: 'tablet';
		display: none;
	}

	body {
		font-size: 1.6rem;
	}

	.drill {
		float: left;
		width: 30%;
	}

	.listings {
		float: right;
		width: 70%;
	}

	.listing {
		width: 50%;
		float: left;
	}

	.section {
		float:left;
		width:50%;
		box-shadow:0 0 0 #999;
	}

	.more-details {
		clear:left;
		float:none;
	}

	.madlib {
		position:absolute;
		right:0px;
	}

	.colapse {
		display:none;
	}
}

//-----------------------------------------------------------------------------
//	DESKTOP AND UP
//-----------------------------------------------------------------------------

@media screen and (min-width: 60em) {

	// Conditional Content Loading with JavaScript (http://adactio.com/journal/5429/)
	body:after {
		content: 'desktop';
		display: none;
	}

	.swipe,
	.controls,
	.content {
		width:80%;
		position:relative;
		left:10%;
	}

}