//-----------------------------------------------------------------------------
//	TABLETS AND UP
//-----------------------------------------------------------------------------

@media screen and (min-width: 40em) {

	// Conditional Content Loading with JavaScript (http://adactio.com/journal/5429/)
	body:after {
		content: 'tablet';
		display: none;
	}

	body {
		font-size: 1.5rem;
	}

	.drill {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 26rem;
	}

	.listings {
		margin-left: 26rem;
	}

	.section {
		float:left;
		width:50%;
		box-shadow:0 0 0 #999;
	}

	.more-details {
		clear:left;
		float:none;
	}

	.madlib {
		position:absolute;
		right:0px;
	}

	.colapse {
		display:none;
	}
}

//-----------------------------------------------------------------------------
//	DESKTOP AND UP
//-----------------------------------------------------------------------------

@media screen and (min-width: 64em) {

	// Conditional Content Loading with JavaScript (http://adactio.com/journal/5429/)
	body:after {
		content: 'desktop';
		display: none;
	}

	.listing {
		margin-right: 1rem;
		max-width: 36rem;
		float: left;
	}

	.swipe,
	.controls,
	.content {
		width:70%;
		position:relative;
		left:15%;
	}

}