//-----------------------------------------------------------------------------
//	TABLETS AND UP
//-----------------------------------------------------------------------------

@media screen and (min-width: 40em) {

	// Conditional Content Loading with JavaScript (http://adactio.com/journal/5429/)
	body:after {
		content: 'tablet';
		display: none;
	}

	body {
		font-size: 1.6rem;
	}

	.listing {
		width: 50%;
		float: left;
	}
}

//-----------------------------------------------------------------------------
//	DESKTOP AND UP
//-----------------------------------------------------------------------------

@media screen and (min-width: 60em) {

	// Conditional Content Loading with JavaScript (http://adactio.com/journal/5429/)
	body:after {
		content: 'desktop';
		display: none;
	}

}