//-----------------------------------------------------------------------------
//	Transparent Mixins
//-----------------------------------------------------------------------------

// vendor(prop, args) {
// 	-webkit-{prop}: args;
// 	-moz-{prop}: args;
// 	-ms-{prop}: args;
// 	-o-{prop}: args;
// 	{prop}: args;
// }

// border-radius()
// 	vendor('border-radius', arguments)


border-radius() {
	-webkit-border-radius: arguments;
	   -moz-border-radius: arguments;
		-ms-border-radius: arguments;
		 -o-border-radius: arguments;
			border-radius:	arguments;
}

box-shadow() {
	-webkit-box-shadow: arguments;
	   -moz-box-shadow: arguments;
			box-shadow:	arguments;
}

transition() {
	-webkit-transition: arguments;
	   -moz-transition: arguments;
		-ms-transition: arguments;
		 -o-transition: arguments;
			transition:	arguments;
}

animation() {
	-webkit-animation: arguments;
	   -moz-animation: arguments;
		-ms-animation: arguments;
		 -o-animation: arguments;
			animation: arguments;
}

transform() {
	-webkit-transform: arguments;
	   -moz-transform: arguments;
		-ms-transform: arguments;
		 -o-transform: arguments;
			transform: arguments;
}

box-sizing() {
	-webkit-box-sizing: arguments;
	   -moz-box-sizing: arguments;
			box-sizing: arguments;
}

column-count() {
	-webkit-column-count: arguments;
	   -moz-column-count: arguments;
			column-count: arguments;
}

// background-image() {
// 	vendor('background-image', arguments);
// }

// background() {
// 	vendor('background', arguments);
// }

//-----------------------------------------------------------------------------
//	Combine all files
//-----------------------------------------------------------------------------

@import 'normalize'
@import 'font-awesome'
@import 'app'
@import 'largescreen'