//-----------------------------------------------------------------------------
//	GLOBAL
//-----------------------------------------------------------------------------

* {
	box-sizing: border-box;
}

::selection {
	// background: #f56906;
	// color: #fefff8;
	text-shadow: none;
}

img::selection {
	background: transparent;
}

img {
	max-width: 100%;
}

body {
	font-size: 1.3rem;
}
